---
import Section from "../ui/Section.astro";
import metrics from "../../data/metrics";
---

<Section class="pt-0 lg:pt-0">

    <div
        class="grid grid-cols-2 gap-x-10 gap-y-12 border-y border-[var(--border)] py-12 lg:grid-cols-4"
    >

        {
            metrics.map(metric => (

                <div>

                    <h2
                        class="text-5xl font-bold tracking-tight lg:text-6xl"
                    >
                        {metric.value}
                    </h2>

                    <p
                        class="mt-3 font-semibold"
                    >
                        {metric.label}
                    </p>

                    <p
                        class="mt-2 text-sm leading-7 text-[var(--foreground-secondary)]"
                    >
                        {metric.description}
                    </p>

                </div>

            ))
        }

    </div>

</Section>
