---
import Section from "../ui/Section.astro";
import Heading from "../ui/Heading.astro";
import ProductCard from "../ui/ProductCard.astro";
import { products } from "../../data/products";

const featured = products.find((p) => p.featured);
const others = products.filter((p) => !p.featured);
---

<Section>

    <Heading
        eyebrow="PRODUCT ECOSYSTEM"
        title="Products solving real-world problems."
        description="Each product represents a different intelligence domain."
    />

    {
        featured && (

            <div class="mt-20">

                <ProductCard
                    {...featured}
                    featured
                />

            </div>

        )
    }

    <div
        class="mt-10 grid gap-8 lg:grid-cols-12"
    >

        {
            others.map((product, index) => (

                <div
                    class:list={[
                        index === 2
                            ? "lg:col-span-12"
                            : "lg:col-span-6"
                    ]}
                >

                    <ProductCard
                        {...product}
                    />

                </div>

            ))
        }

    </div>

</Section>
