---
import Container from "./Container.astro";

interface Props {
  class?: string;
  containerClass?: string;
}

const {
  class: className = "",
  containerClass = ""
} = Astro.props;
---

<section
  class:list={[
    "py-24 lg:py-32",
    className
  ]}
>

  <Container class={containerClass}>

    <slot />

  </Container>

</section>
